<form action="/" method="POST">
    Email : <input type="text" name="email">
    Password : <input type="text" name="password">
    <p style="color:red">{{message}}</p>
    <div>
        <input type="submit" value="Login">
    </div>
    <div>
        <button>Signup</button>
    </div>
</form>